body{
    background-color: rgb(0, 34, 28);
    color: whitesmoke;
}
main{
    padding-top: 25px;
}

.page-garage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper{
    display: flex;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.car{
    width: 50px;
    height: 20px;
    background: yellowgreen;
    background-color: yellowgreen;
    -webkit-mask-image: url(car_.svg);
    mask-image: url('car_.svg');


}

.btn {
    padding: 0 7px;
    margin: 5px;
    background-color:rgb(0, 118, 118);
    border-radius: 5px;
}

.wrapper-car{
    display: flex;
}